<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <% if @skill_tag.present? %>
        <div class="tag-card">
          <div class="tag-set d-flex">
            <div class="tag-image-container">
              <%= image_tag(@skill_tag.skill_tag_image.attached? ? @skill_tag.skill_tag_image : 'no_image.jpg', class: 'tag-image') %>
            </div>
            <div class="tag-details d-flex flex-column">
              <div class="tag-name p-1">
                <%= @skill_tag.name %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "portfolio_cards", portfolios: @portfolios %>