<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <div class="tag-card">
        <div class="tag-set d-flex">
          <div class="tag-image-container">
            <% if @skill_tag.present? %>
              <%= image_tag(@skill_tag.skill_tag_image.attached? ? @skill_tag.skill_tag_image : 'no_image.jpg', class: 'tag-image') %>
            <% end %>
          </div>
          <div class="tag-details d-flex flex-column">
            <div class="tag-name p-1">
              <% if @skill_tag.present? %>
                <%= @skill_tag.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "portfolio_cards", portfolios: @portfolios %>