.header-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.action_text-field {
  width: 100%;
  min-height: 500px; /* 最小高さを500pxに設定 */
  height: auto; /* 自動で高さを調整 */
  overflow-y: auto; /* 必要に応じてスクロールを追加 */
  resize: vertical; /* 縦方向にリサイズ可能にする */
}

.attachment__name,
.attachment__size {
  display: none;
}

.skill-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card:hover {
  background-color: #e4edf4;
}

.skill-card-body {
  padding: 1rem;
  text-align: center;
}

.skill-card-title {
  // font-size: 1.25rem;
  // margin-bottom: 0.75rem;
}

.skill-card-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
