.header-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.action_text-field {
  width: 100%;
  min-height: 500px; /* 最小高さを500pxに設定 */
  height: auto; /* 自動で高さを調整 */
  overflow-y: auto; /* 必要に応じてスクロールを追加 */
  resize: vertical; /* 縦方向にリサイズ可能にする */
}

.attachment__name,
.attachment__size {
  display: none;
}

.skill-card {
  border: 1px solid #ddd;
  border-radius: 12px;
}

.skill-card:hover {
  background-color: #e4edf4;
}

.skill-card-body {
  padding: 1rem;
  text-align: center;
}

.skill-card-title {
  width: 100%;
  margin-top: .2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.skill-card-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.CardList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.4rem;
}