<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-8">
      <%= render "searches/search_form" %>
    </div>
  </div>
</div>
  <% if @portfolios.any? %>
    <%= render "public/portfolios/portfolio_cards", portfolios: @portfolios %>
  <% else %>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8 d-flex justify-content-center">
          一致するポートフォリオが見つかりませんでした。
        </div>
      </div>
    </div>  
  <% end %>
</div>